env
.env
__pycache__

**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

db.sqlite3
.db

.vscode
.idea

tests/__pycache__/

media
media/logos
logos
DataBase/

docker-compose.dev.yml
entrypoint_dev.sh

agent_test.py
test_agent.py

docker-compose.dev.yml
entrypoint_dev.sh

static/jazzmin/
static/vendor/
nginx.conf