venv
.env

# Arquivos de cache
__pycache__/
**/__pycache__/

# Migrations (ignora todos, menos __init__.py)
**/migrations/
!**/migrations/__init__.py

# Banco local
db.sqlite3
*.db

# Media / uploads
/media/
logos/
DataBase/

# Static
/static/jazzmin/
/static/vendor/

.vscode
.idea

tests/__pycache__/





