{% extends "_base.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-2xl font-bold mb-6">📋 Controle dos Equipamentos</h1>
    
    {% include 'components/search.html' %}
    <!-- Barra de busca e filtro -->
    {% include 'components/filter.html' %}

    <!-- Tabela de resultados -->
    <div class="overflow-x-auto shadow-md rounded-lg">
        <table class="min-w-full text-left border-collapse">
            <thead>
                <tr class="bg-gray-800">
                    <th class="px-6 py-3 border-b">Equipamento</th>
                    <th class="px-6 py-3 border-b">MAC</th>
                    <th class="px-6 py-3 border-b">Serial</th>
                    <th class="px-6 py-3 border-b">Local</th>
                    <th class="px-6 py-3 border-b">Motivo</th>
                    <th class="px-6 py-3 border-b">Observação</th>
                    <th class="px-6 py-3 border-b">Responsável</th>
                    <th class="px-6 py-3 border-b">Ultima movimentação</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                    <tr class="hover:bg-gray-800">
                        <td class="px-6 py-3 border-b"><a href="{% url 'update_controller' item.id %}">{{ item.equipment }}</a></td>
                        <td class="px-6 py-3 border-b">{{ item.equipment.mac_address }}</td>
                        <td class="px-6 py-3 border-b">{{ item.equipment.serial_number }}</td>
                        <td class="px-6 py-3 border-b">{{ item.location }}</td>
                        <td class="px-6 py-3 border-b">{{ item.reason }}</td>
                        <td class="px-6 py-3 border-b">{{ item.observation }}</td>
                        <td class="px-6 py-3 border-b">{{ item.responsible }}</td>
                        <td class="px-6 py-3 border-b">{{ item.updated_at }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="px-6 py-4 text-center text-gray-500">Nenhum item encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <!-- Paginação -->
   {% include 'components/pagination.html' %}
{% endblock %}
